::after, ::after{
   display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  align-items: center;
  justify-content: left;
  border-radius: 50%;
}

.title::before{
  content: "";
  background-color: blue;
}
.title::after{
  content: "";
  background-color: red;
}
